body {
    background: #f3f3f3;
    font: normal 100% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    margin: 0;
    color: #555;
}

a {
    text-decoration: none;
    color: #28D;
}

div.content {
    width: 920px;
    padding: 20px;
    margin: 20px auto;
    background: white;
}

h1 {
    font: 230% Georgia, serif;
    display: inline-block;
    margin: 0;
    text-shadow: white 0px 1px 0, #555 0 -1px 0
}

#email a {
    color: #c41;
}

#email {
    font: 90% Monaco, Consolas, monospace;
}

@media screen and (max-width:960px) {
    div#home {
        width: 700px;
    }
}

@media screen and (max-width:760px) {
    div#home {
        width: 300px;
    }
}
