body {
    font: 110% Palatino, Times, serif;
    line-height: 1.4em;
    text-align: justify;
    background: #aaa;
    margin: 0;
}

a {
    text-decoration: none;
    color: #700;
}

span.textsc {
    font-variant: small-caps;
}

article {
    width: 860px;
    margin: auto;
    background: white;
    padding: 0 50px;
    box-shadow: 0 0 10px black;
    height: 100%;
    counter-reset: section figure table;
}

section p {
    text-indent: 1em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

section p:nth-child(2) {
    text-indent: 0
}

h1 {
    margin: 0;
    text-align: center;
    line-height: 5em;
}

h2 {
    counter-reset: subsection;
}

h2:before {
    counter-increment: section;
    content: counter(section) " ";
}

h3:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

#acknowledgments h2:before,
#conclusion h2:before,
#references h2:before {
    content: "";
}

h4 {
    float: left;
    margin: 0;
}

figure {
    margin: 1em 0;
    font-size: 90%;
}

figure table {
    margin: auto;
}

table td {
    vertical-align: top;
    padding: 0 0.2em;
    line-height: 1.2em;
}

figcaption {
    margin-top: 1em;
    text-align: center;
}

table ~ figcaption:before, 
#indiv-feats figcaption:before  {
    counter-increment: table;
    content: "Table " counter(table) ": ";
}

.figure ~ figcaption:before {
    counter-increment: figure;
    content: "Figure " counter(figure) ": ";
}

#authors {
    margin: 0em 2em 2em;
    text-align: center;
}

#authors a {
    line-height: 2em;
    font-weight: bold;
    margin-left: 3em;
    margin-right: 3em;
}

#abstract {
    font-size: 90%;
    padding: 0 5em;
}

#abstract h2 {
    text-align: center;
}

#indiv-feats div {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.75em;
}

#indiv-feats dl {
    margin: 0;
}

#indiv-feats dt {
    float: left;
}

#indiv-feats dd {
    text-align:right;
}

#indiv-feats h4 {
    float: none;
    margin: 0 auto;
    text-align: center;
}

#global-stats {
    font-size: 0.75em;
    font-family: "Helvetica Neue";
    text-align: center;
}

#global-stats div {
    display: inline-block;
}

#global-stats rect {
    fill: #258;
}

#global-stats .stars {
    fill: white;
}

#global-stats .pr {
    font-weight: bold;
}

#sentence-bars iframe, #joint iframe {
    width: 940px;
    border: none;
    height: 750px;
    margin-left: -40px;
}

#MathJax_Message {
    display: none;
}
